---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "gist";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

pre {
    font-size:0.85rem;
    line-height:2;
}

#post-index #main {
    max-width: 900px;
}

a {
    color: #4E8ED2;
}

a:visited {
    color: #8EB0C8;
}

p code, li code {
    background-color: #FFE477;
}